<div>
<!-- <app-tab></app-tab> -->
<!-- tree with parent chaild relation -->
<!-- <app-tree-view></app-tree-view>  -->
<!-- <app-advanced-tree></app-advanced-tree> -->

<app-treewithfilter></app-treewithfilter>
</div>
<!-- <mat-form-field style="width:100%;" [formGroup]="fb">
  <mat-label>Media</mat-label>
  <mat-select #select multiple formControlName="toppings" >
    <mat-select-trigger>
      <span *ngIf="selectedStringData?.length > 0">
        {{selectedStringData?.join( " "+separator+" ")}}
      </span></mat-select-trigger>

    <mat-radio-group [(ngModel)]="selectedRadio" (change)="radioChange()">
      <mat-radio-button *ngFor="let r of radiAorray" [value]="r.id">{{r.value}}</mat-radio-button>
    </mat-radio-group>

    <mat-checkbox [(ngModel)]="allSelected" [ngModelOptions]="{ standalone: true }" (change)="toggleAllSelection()">
      Select All
    </mat-checkbox> 
      <mat-option *ngFor="let food of foods"  (click)="optionClick(food,$event)" [value]="food">
        {{ food.value }}
      </mat-option>
 

  </mat-select>
  <span   style="display: block; height: 20px; background-size: 14px; float: right; width: 20px; margin-top: -20px;" class="p-teams"></span>
</mat-form-field> -->